/*section intro*/
#intro .menu { /*permet de mettre les liens dans une grille de 3 colonnes*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

#intro img { /*donne une bordure avec des motifs à la carte*/
	border: 1em solid transparent;
	border-image: url("../skin/motiff.png") 40;
	width: 90%;
	margin: 1% 4%;
	box-shadow: unset;
}

/*propriété commune*/
figure {
	margin: auto;
}

/*section archaïque*/
#archaïque img{
	width: 150px
}

#archaïque aside { /*permet de mettre les figures dans une grille de 4 colonnes*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-self: center;
	justify-self: center;
	gap: 10px;
}

/*section classique*/
#classique .menu { /*permet de mettre les liens dans une grille de 2 colonnes*/
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	list-style-type: none;
}

.menu li {
	padding: 6px 15px;
}

.sousmenu { /*permet de cacher la présence des sous liens*/
	display: none;
	position: absolute;
	list-style-type: none;	
}

.sousmenu li { /*donne une bordure avec des motifs aux sous liens*/
	border: 0.5em solid transparent;
	border-image: url("../skin/motifa.jpg") 40;
	background-color: #0076a2;
	color: black;
}

.sousmenu li:hover { /*met un fond blanc au survol de l'élément*/ 
	background-color: white;
}

.menu li:hover .sousmenu { /*permet d'afficher les sous liens*/
	display: block;
}

#classique a{ /*permet d'annuler l'effet du a:hover du css commun pour des raisons de styles*/
	background-color: unset
}

/*section hellénistique*/
#hellénistique aside { /*permet de mettre les portraits dans une grille de 2 colonnes*/
	display: grid;
	grid-template-columns: 1fr 1fr;
}

aside img{
	width: 60%;
}

#carte img {
	width: 90%;
}

@media (max-width: 750px) {
  .menu li{ /*permet de mettre les lien dans une seul colonne quand l'écran rétrécit*/
	grid-column: span 3;
  }
  
  #archaïque figure{ /*permet de mettre les figures dans 2 colonnes quand l'écran rétrécit*/
	grid-column: span 2; 
  }
}

